Events.js 

.createEvent {
  border: 1px solid red;
  padding: 5vh;
}

/* .detailsBody {
  margin: 0vh;
  padding: 0vh 5vw;
} */

.detailsHeader {
  padding: 10vh 4vw 4vh 4vw;
  /* background: red; */
  display: flex; 
  /* justify-content: space-around; */
  align-content: left;
}

.detailsHeader h1 {
  font-size: 4em;
  /* color:white; */
}

.detailsTitle {
  /* background: purple; */
  max-width: 65vw;
  padding-right:3vw;
  margin-right:10vw;
}

.detailsDateTime {
  /* background: blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  /* align-content: right; */
  /* padding-right: 10vw; */
}

.detailsDescription {
  padding: 8vh;
  background: #FFFAE3;
}
.detailsJoin {
  padding: 8vh 0 4vh 4vw;
}

.detailsAttendees {
  /* background: #FFFAE3; */
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 5vh;
  padding: 2vh 5vh 5vh 4vw;
  /* border: 2px solid red; */
}
.detailsAttendeesHeader {
  padding: 3vh 0 0 4vw ;
  /* border: 2px solid blue; */
  /* background: #FFFAE3; */
}



.detailsBox {
  background: white;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  font-size: 2em;
  border: 2px solid #5D576B;
  border-radius: 5px;
  margin: .5vw;
  /* padding-bottom: 1vh; */
  padding: 2vw;
  height: 35vh;
  width: 200px;
}

.detailsBox > img {
  max-width: 120px ;
}


.detailsEventOwner {
  background:#e6e6e6;
  padding: 10px;
  /* padding-left:10vw; */

  display: flex;
  justify-content:space-between;
  align-content: center;
}

.detailsEventOwnerColLeft {
  text-align: center;
  direction: column; 
  padding: 15vh 15vw 5vh 10vw;
}

.detailsEventOwnerDelete {
  padding: 2vh auto;
  margin: 20px 10px;
  padding-top: 5vh;
  /* border: 2px solid black; */
}