/* homepage.js */
/* body {
  /* padding: 0 5vw 2vh 5vw; */
  /* background: #99E1D9; 
} */

.homepage {
  margin: 5vw 10px;
  /* background: #99E1D9; */
  /* border: 2px black solid; */
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  /* padding-left: 50px; */
  /* padding-bottom: 50px; */
  margin: 2rem 5rem;
  font-family: 'Anton', sans-serif;
  
  




}

.searchFullContainer {
  /* padding:  10px 100px 0 10px; */
    max-width: 85%;
    /* margin: 1rem auto; */
    /* background-color: #5d576b; */

}

.welcomeFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items:center;
  /* border: 2px solid red; */
}

.welcome {
  text-align: center;
  width: 30%;
  padding: 2vh 0;
  text-align: left;
}

/* .searchFullContainer {
  border: 1px solid green;
   background: #99E1D9;
 } */


/* FilteredEvents.js */
.searchBar {
  /* background:#99e1d9; */
  align-content: center;
  height: 20vh;
  padding-top: 0.5rem;
  padding-bottom: .5rem;
  /* width: 100%; */

}
h2 {
  color: #5d576b;
  text-align: center;
}
/* .searchResults { */
  /* border: 2px solid red; */
  /* background: purple; */
/* } */

/* Searchbar.js */
.searchbar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  /* background: #fffae3; */
  height: 50%;
  /* padding: 2vh; */
}

.searchbar input {
  margin: 4vw;
  height: 40px;
  width: 60vw;
  border-radius: 3px;
  /* background: #fffae3; */
}


/* homepage.js  */
.carousel {
  

  max-width:  100vh;
  max-width: 100vh;
  height: auto;
  display: block;
	/* flex-direction: row; */
	flex-wrap: nowrap;
	justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;

	/* align-content: center; */


} 
.carousel slide {
  max-width: 80vw;
}



.carousel-inner {
  max-width:  100vh;
  max-width: 100vh;
  margin: 0;
} 

.active carousel-item {
  max-height:70vh;
}
.carousel-item {
  max-height: 70vh;
} 
/* .carousel-indicators {
text-align: left;
} */

.inner-img {
  max-width:  100vw;
  max-height: 100vh;
}


.allEvents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0 0 0 2vw;
}
.eventHeader{
  line-height: 100px;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 15vh 0 5vh 0;
  background: white;
}

.allEventsButton {
  background: #99e1d9;
  padding: 2vh 20vw;
  border-radius: 5px; 
  color: #18191a;
}
.allEventsButton:hover{
  background: pink;
}

.eventHeader>h2 {
  font-size: 3.5em;
}


.filteredResults {
  background: #e6e6e6;
  /* margin: 0 0 0 0; */

}

.homeFindHeader {
  /* padding: 2vh; */
  padding-top:4vh;
}



.homeFindHeader>h3{
  font-size: 1em;
  color: #5d576b;
  text-align: center;
}